# Python
__pycache__/
*.pyc
.venv/
env/
venv/

# Node
node_modules/
client/dist/
client/dist-ssr/

# Env files
*.env
*.env.*
client/.env
server/.env

# Databases
*.db
spendwise.db

# Alembic cache
server/alembic/__pycache__/

# OS/editor
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
